.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

node_modules/

coverage/

.next/
out/
bin/
obj/
packages/
build/

.DS_Store
*.pem

.pnpm-debug.log*

.env*
!.env.example

.vercel

*.tsbuildinfo
next-env.d.ts
